{{#x-card
  onsubmit=attrs.onsubmit
  title='Login to Peepchat'
  buttonText='Login'}}
  <div class="row">
    {{x-input
      classNames='col s12'
      type='email'
      label='Username'}}
  </div>
  <div class="row">
    {{x-input
      classNames='col s12'
      type='password'
      label='Password'}}
  </div>
{{/x-card}}
