{{#x-card
  onsubmit=attrs.onsubmit
  title='Register with Peepchat'
  buttonText='Register'}}
  <div class="row">
    {{x-input
      classNames='col s12'
      type='email'
      label='Username'}}
  </div>
  <div class="row">
    {{x-input
      classNames='col s12'
      type='password'
      label='Password'}}
  </div>
  <div class="row">
    {{x-input
      classNames='col s12'
      type='password'
      label='Confirm Password'}}
  </div>
{{/x-card}}