<div class="message them">
  <img class="avatar" src="http://www.gravatar.com/avatar/487bec993c3227e35f9737eacec8cacb?s=128">
  <div class="body">
    Hello There! What's up?
    <div class="timestamp">1 minute ago</div>
  </div>
</div>

<div class="message them">
  <img class="avatar" src="http://www.gravatar.com/avatar/487bec993c3227e35f9737eacec8cacb?s=128">
  <div class="body">
    Having fun learning how to build a complex UI app?
    <div class="timestamp">1 minute ago</div>
  </div>
</div>

<div class="message me">
  <img class="avatar" src="http://www.gravatar.com/avatar/487bec99c8cacb?s=128">
  <div class="body">
    I thought it would take a lot more than 31 lines of HTML to make these chat messages look nice
    <div class="timestamp">35 seconds ago</div>
  </div>
</div>

<div class="message them">
  <img class="avatar" src="http://www.gravatar.com/avatar/487bec993c3227e35f9737eacec8cacb?s=128">
  <div class="body">
    Isn't it nuts how quickly you can build things when you don't have to reinvent the wheel? 🚀
    <div class="timestamp">5 seconds ago</div>
  </div>
</div>
