{{#user-info as |u|}}

{{#each model as |message|}}
  <div class="message {{if (eq u.id message.author.id) "them" "me"}}">
    <img class="avatar" src={{message.author.gravatar}}>
    <div class="body">
      {{message.body}}
      <div class="timestamp">{{moment-from-now message.insertedAt}}</div>
    </div>
  </div>
  {{/each}}
{{/user-info}}