<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card">
        <div class="card-content">
          <span class="card-title"> Welcome to Peepchat!</span>
          <p>This is an example of a server-side rendered <a href="http://emberjs.com" target="_blank">Ember.js</a> app with a <a href="http://www.phoenixframework.org/" target="_blank">Phoenix</a> API.</p>
        </div>
        <div class="card-action">
          {{link-to "Register" "auth.register" class="btn-flat green white-text btn-large"}}
          {{link-to "Enter Chat" "app.index" class="btn-flat blue white-text btn-large right"}}
        </div>
      </div>
    </div>
  </div>
</div>